@charset "UTF-8";

.login .visual .logo_img{background-image:url("../../images/pcf/img_login.png");}
.gnb .gnb_logo a{background-image:url("../../images/pcf/logo.png");}
.error_area .error_head .logo{background: url("../../images/pcf/logo_dark.png") 4px 11px no-repeat;}
.m_header .m_logo{background-image:url("../../images/pcf/logo_monitoring.png");}

/* monitoring layout */
.node_wrap.type_01 .cont_left_area, 
.node_wrap.type_01 .cont_right_area {width:23%;}
.node_wrap.type_01 .draw.type2 {width:54%;}
