@charset "UTF-8";

.login .visual .logo_img{background-image:url("../../images/vdpi/img_login.png");}
.gnb .gnb_logo a{background-image:url("../../images/vdpi/logo.png");}
.error_area .error_head .logo{background: url("../../images/vdpi/logo_dark.png") 4px 11px no-repeat;}
.m_header .m_logo{background-image:url("../../images/vdpi/logo_monitoring.png");}

/* monitoring node-detail */
.sect .summary .cell_02 {width: 57%;}
.summary .resource dd{height:205px;}
.summary .resource .value_gauge{top:125px;}
.g1{top:3px;}
.left_area.type_02 .left_row{height:calc(50% - 29px);}

/* monitoring grid view(201905) */
.table_info_group1 {width: calc(100% - 742px);}
