@charset "UTF-8";

.login .visual .logo_img{background-image:url("../../images/udr/img_login.png");}
.gnb .gnb_logo a{background-image:url("../../images/udr/logo.png");}
.error_area .error_head .logo{background: url("../../images/udr/logo_dark.png") 4px 11px no-repeat;}
.m_header .m_logo{background-image:url("../../images/udr/logo_monitoring.png");}
