@charset "UTF-8";
/* alarm color */
$critical_color:    #e01616;
$major_color:       #ec6810;
$minor_color:       #ebb30c;
$warning_color:     #f2676a;
$cleared_color:     #656cb8;
$fault_color:       #9d7be0;
$indeterminate_color: #93888b;
$notice_color:      #a68d5b;
$etc_color:         #737373;

$critical_bg:    #e01616;
$major_bg:       #ec6810;
$minor_bg:       #ebb30c;
$warning_bg:     #f2676a;
$cleared_bg:     #656cb8;
$fault_bg:       #9d7be0;
$indeterminate_bg: #93888b;
$notice_bg:      #a68d5b;
$etc_bg:         #8c8d91;
$unknown_bg:     #adb0b6;
$running_bg:     #00a8eb;

.monitoring {
  background-color: #f2f2f3;
  .disconnect_wrap {
    z-index: 9999;
  }
  .state > i {
    height: 15px;
    padding: 0 6px 1px;
    line-height: 10px;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    background-color: #ffffff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
  }
  .critical .state > i {
    color: $critical_color;
    background-color: #fff475;
  }
  .major .state > i {
    color: $major_color;
  }
  .minor .state > i {
    color: $minor_color;
  }
  .warning .state > i {
    color: $warning_color;
  }
  .cleared .state > i {
    color: $cleared_color;
  }
  .fault .state > i {
    color: $fault_color;
  }
  .indeterminate .state > i {
    color: $indeterminate_color;
  }
  .notice .state > i {
    color: $notice_color;
  }
  .btn_close,
  .btn_close_s {
    position: absolute;
    font-size: 0;
    text-indent: -9999px;
    background: url("../../images/atom/monitoring.png") no-repeat;
  }
  .btn_close_s {
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    background-position: -463px -213px;
    &:hover {
      background-position: -513px -213px;
    }
    &:active {
      background-position: -563px -213px;
    }
  }
  .btn_close {
    top: 2px;
    right: 6px;
    width: 30px;
    height: 30px;
    background-position: -460px -260px;
    &:hover {
      background-position: -510px -260px;
    }
    &:active {
      background-position: -560px -260px;
    }
  }
}
.m_lnb {
  position: fixed;
  width: 38px;
  height: 100vh;
  padding: 14px 0 700px 4px;
  background-color: #292c33;
  z-index: 2;
  .logo {
    position: absolute;
    bottom: 45px;
    width: 30px;
    height: 130px;
    font-size: 0;
    text-indent: -9999px;
    background: url("../../images/atom/monitoring.png") -10px -10px no-repeat;
  }
  .menu {
    position: relative;
    &.active {
      .menu_list {
        background-position: -160px -10px !important;
      }
      .dropdown {
        display: block;
      }
    }
    .dropdown {
      display: none;
      position: absolute;
      top: -5px;
      left: 39px;
      width: 230px;
      max-height: 700px;
      background-color: #ffffff;
      box-shadow: 0 2px 25px rgba(0,0,0,0.2);
      border-radius: 5px;
      -webkit-border-radius: 5px;
      z-index: 2;
      &:before {
        content: '';
        position: absolute;
        display: inline-block;
        top: 13px;
        left: -10px;
        border-style: solid;
        border-width: 8px 10px 8px 0;
        border-color: transparent #ffffff transparent transparent;
      }
      li {
        padding: 8px 0;
      }
      li + li {
        border-top: 1px solid #e9eaeb;
      }
      .btn_menu {
        position: relative;
        width: 100%;
        padding: 6px 18px 6px 34px;
        text-align: left;
        font-size: 14px;
        line-height: 16px;
        background-color: transparent;
        &.choice:before {
          content:'';
          display: inline-block;
          position: absolute;
          top: 4px;
          left: 12px;
          width: 20px;
          height: 20px;
          background: url("../../images/atom/monitoring.png") -465px -15px no-repeat; 
        }
        &:hover {
          background-color: #f2f2f3;
        }
        &:disabled {
          cursor: default;
          opacity: 0.6;
          &.choice:before {
            opacity: 0.45;
          }
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
  .btn_control {
    position: absolute;
    top: 50%;
    transform: translate(0, -75%);
    .btn + .btn {
      margin-top: 10px;
    }
  }
  .btn.icon {
    width: 30px;
    height: 30px;
    font-size: 0;
    text-indent: -9999px;
    background: url("../../images/atom/monitoring.png") no-repeat;
    &.menu_list {
      background-position: -60px -10px;
      &:hover{
        background-position: -110px -10px;
      }
      &:active{
        background-position: -160px -10px;
      }
    }
    &.setting {
      position: absolute;
      bottom: 14px;
      background-position: -60px -60px;
      &:hover{
        background-position: -110px -60px;
      }
      &:active{
        background-position: -160px -60px;
      }
    }
    &.popup_on {
      background-position: -60px -110px;
      &:hover{
        background-position: -110px -110px;
      }
      &:active{
        background-position: -160px -110px;
      }
    }
    &.popup_off {
      background-position: -60px -160px;
      &:hover{
        background-position: -110px -160px;
      }
      &:active{
        background-position: -160px -160px;
      }
    }
    &.sound_on {
      background-position: -60px -210px;
      &:hover{
        background-position: -110px -210px;
      }
      &:active{
        background-position: -160px -210px;
      }
    }
    &.sound_off {
      background-position: -60px -260px;
      &:hover{
        background-position: -110px -260px;
      }
      &:active{
        background-position: -160px -260px;
      }
    }
    &.pause {
      background-position: -60px -310px;
      &:hover{
        background-position: -110px -310px;
      }
      &:active{
        background-position: -160px -310px;
      }
    }
    &.play {
      background-position: -60px -360px;
      &:hover{
        background-position: -110px -360px;
      }
      &:active{
        background-position: -160px -360px;
      }
    }
    &.recurring {
      background-position: -60px -410px;
      &:hover{
        background-position: -110px -410px;
      }
      &:active{
        background-position: -160px -410px;
      }
    }
  }
}
.m_content {
  position: relative;
  width: 100%;
  min-width: 1400px;
  min-height: 970px;
  padding-top: 12px;
  padding-left: 38px;
  margin-bottom: 12px;
  .grid-stack {
    margin: 0 8px;
    .grid-stack-placeholder > .placeholder-content {
      left: 4px;
      right: 4px;
    }
    > .grid-stack-item > .grid-stack-item-content {
      left: 4px;
      right: 4px;
    }
    > .grid-stack-item {
      $gridstack-columns: 10;
      @for $i from 1 through $gridstack-columns {
          &[data-gs-width='#{$i}'] { width: (100% / $gridstack-columns) * $i; }
          &[data-gs-x='#{$i}'] { left: (100% / $gridstack-columns) * $i; }
          &[data-gs-min-width='#{$i}'] { min-width: (100% / $gridstack-columns) * $i; }
          &[data-gs-max-width='#{$i}'] { max-width: (100% / $gridstack-columns) * $i; }
      }
    }
  }
  .item_wrap {
    position: relative;
    width: 100%;
    height: 100%;
    &.bg_01 {
      border: 1px solid #f2f2f3;
    }
    &.bg_02 {
      background-color: #fafafa;
      border: 1px solid #e8e8ea;
    }
    &.bg_03 {
      background-color: rgba(38,48,76,0.05);
      border: 1px solid #e8e8ea;
    }
  }
  .item_wrap.alarm_wrap {
    &.expand {
      position: absolute;
      top: 12px;
      bottom: 0;
      right: 12px;
      width: calc(100% - 38px - 40%);
      height: initial;
      z-index: 10;
      .btn_expand {
        display: none;
      }
      .btn_compress {
        display: inline-block;
      }
    }
    .item_header {
      height: 71px;
    }
    .item_info {
      height: calc(100% - 71px);
    }
    .item_control {
      .select.type_08.s {
        width: 90px !important;
        min-width: 90px !important;
      }
      .input.search.type_08 {
        width: 170px !important;
        min-width: 170px !important;
        margin-right: 10px; 
      }
    }
    .table.m_alarm {
      &.y_scroll .tbody {
        max-height: calc(100% - 23px);
        overflow-y: auto;
      }
    }
  }
  .item_wrap.view_wrap {
    .item_header {
      position: absolute;
      top: 0;
      z-index: 1;
      height: 35px;
    }
    .item_info {
      height: 100%;
    }
  }
  .item_cont {
    height: 100%;
  }
  .item_header {
    position: relative;
    width: 100%;
    height: 30px;
    padding: 6px 0 0 17px;
    h2 {
      display: inline-block;
      padding-top: 2px;
      font-size: 14px;
      font-weight: 700;
      color: #292c33;
      vertical-align: top;
    }
    h2 + .select {
      margin-top: -6px;
      &:before {
        content: ':';
        position: absolute;
        left: 4px;
        top: 7px;
        color: #777777;
        font-size: 13px;
        font-weight: 300;
      }
      .multiselect-native-select .dropdown-menu {
        margin-top: -4px;
      }    
    }
    .alarm_btn_group {
      position: absolute;
      bottom: 9px;
    }
    .item_control {
      position: absolute;
      right: 10px;
      bottom: 4px;
    }
    .btn_expand,
    .btn_compress {
      position: absolute;
      width: 24px;
      height: 24px;
      background: transparent url("../../images/atom/monitoring.png") no-repeat;
    }
    .btn_expand {
      top: 7px;
      right: 13px;
      background-position: -263px -363px;
      &:hover {
        background-position: -313px -363px;
      }
      &:active {
        background-position: -363px -363px;
      }
    }
    .btn_compress {
      display: none;
      top: 0;
      right: 0;
      background-position: -263px -113px;
      &:hover {
        background-position: -313px -113px;
      }
      &:active {
        background-position: -363px -113px;
      }
    }
    .item_tab_menu {
      button {
        padding: 3px 12px 5px;
        color: #5c5f66;
        font-size: 14px;
        font-weight: bold;
        background-color: transparent;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        &:hover {
          color: #292c33;
          background-color: #dededf;
        }
      }
      button + button {
        margin-left: 5px;
      }
      .active:hover,
      .active {
        color: #fff;
        background-color: #292c33;
        cursor: default;
      } 
    }
  }
  .item_info {
    position: relative;
    height: calc(100% - 30px);
  }
  .chart_area {
    width: 100%;
    height: 100%;
    padding: 0 4px;
  }
  .input.search.type_08 {
    &:before {
      display: none;
    }
    input {
     padding-left: 11px !important;
    }
  }
  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -13px 0 0 -13px;
  }
}


.option_btn_group {
  position: absolute;
  top: 8px;
  right: 9px;
  width: 195px;
  text-align: right;
  white-space: nowrap;
  font-size: 0;
  z-index: 10;
  .btn.icon {
    width: 24px;
    height: 24px;
    font-size: 0;
    text-indent: -9999px;
    background: url("../../images/atom/monitoring.png") no-repeat;
    &.zoom_in {
      background-position: -264px -14px;
      &:hover{
        background-position: -314px -14px;
      }
      &:active{
        background-position: -364px -14px;
      }
    }
    &.zoom_out {
      background-position: -264px -64px;
      &:hover{
        background-position: -314px -64px;
      }
      &:active{
        background-position: -364px -64px;
      }
    }
    &.fit {
      background-position: -264px -114px;
      &:hover{
        background-position: -314px -114px;
      }
      &:active{
        background-position: -364px -114px;
      }
    }
    &.new_tab {
      background-position: -264px -164px;
      &:hover{
        background-position: -314px -164px;
      }
      &:active{
        background-position: -364px -164px;
      }
    }
    &.filter {
      background-position: -264px -214px;
      &.active,
      &:hover{
        background-position: -314px -214px;
      }
      &:active{
        background-position: -364px -214px;
      }
    }
    &.info {
      background-position: -264px -264px;
      &.active,
      &:hover{
        background-position: -314px -264px;
      }
      &:active{
        background-position: -364px -264px;
      }
    }
    &.legend {
      background-position: -264px -314px;
      &.active,
      &:hover{
        background-position: -314px -314px;
      }
      &:active{
        background-position: -364px -314px;
      }
    }
    &:nth-child(n+2) {
      margin-left: 2px;
    }
    &:nth-child(n+4) {
      margin-left: 5px;
    }
  }
}
.option_box {
  position: absolute;
  top: 38px;
  right: 9px;
  width: 195px;
  max-height: calc(100% - 48px);
  overflow-y: auto;
  background-color: #eeeeef;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  z-index: 10;
  h4 {
    color: #afafb2;
    font-size: 11px;
    font-weight: bold;
  }
  > div {
    padding: 7px 17px 14px;
  }
  > div + div.hide + div,
  > div + div {
    border-top: 1px solid #d4d4d4;
  }
  > div.hide + div.hide + div,
  > div.hide + div {
    border-top: none;
  }
  .filter_area{
    .name {
      color: #444;
      font-size: 13px;
      padding: 2px 0;
    }
    li + li {
      margin-top: 5px;
    }
  }
  .info_area {
    padding-bottom: 6px;
    dl {
      line-height: 20px;
      padding: 4px 0 5px;
    }
    dl + dl {
      border-top: 1px dotted #d4d4d4;
    }
    dt {
      display: inline-block;
      width: 60%;
      color: #444;
      font-size: 13px;
    }
    dd {
      float: right;
      display: inline-block;
      width: 40%;
      padding-right: 2px;
      color: #444;
      font-size: 16px;
      font-weight: bold;
      text-align: right;
    }
  }
  .legend_area {
    padding-bottom: 12px;
    ul {
      display: inline-block;
      line-height: 18px;
      margin-top: 4px;
    }
    ul + ul {
      float: right;
    }
    li {
      color: #444;
      font-size: 11.5px;
      white-space: nowrap;
    }
    .legend_node {
      width: 52%;
      > li:before {
        content: '';
        display: inline-block;
        width: 9px;
        height: 9px;
        margin-right: 7px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        background-color: pink;
      }
      .critical:before {
        background-color: $critical_bg;
      }
      .major:before {
        background-color: $major_bg;
      }
      .minor:before {
        background-color: $minor_bg;
      }
      .unknown:before {
        background-color: $unknown_bg;
      }
      .running:before {
        background-color: $running_bg;
      }
    }
    .legend_line {
      width: 48%;
      > li:before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 2px;
        margin-right: 7px;
        border-top-width: 2px;
        border-top-style: solid;
        vertical-align: middle;
      }
      .connect:before {
        border-color: #292c33;
      }
      .disconnect:before {
        border-color: #f02b2b;
      }
      .unknown:before {
        border-color: #adb0b6;
      }
      .transper:before {
        border-top-style: dotted;
        border-color: #03a7ee;
      }
    }
  }
}

.m_alarm_count {
  position: absolute;
  left: 50%;
  top: 12px;
  transform: translate(-50%, 0);
  white-space: nowrap;
  dt{
    display: inline-block;
    font-size: 12px;
    &.total {
      font-weight: 600;
      color: #434854;
    }
    &.critical {
      color: $critical_color;
    }
    &.major {
      color: $major_color;
    }
    &.minor {
      color: $minor_color;
    }
    &.etc {
      color: $etc_color;
    }
  }
  dd{
    display: inline-block;
    .count {
      min-width: 22px;
      height: 18px;
      padding: 0 8px;
      color: #fff;
      font-size: 11px;
      font-weight: 600;
      border-radius: 20px;
      text-align: center;
      &.total {
        background-color: #4c5059;
      }
      &.critical {
        background-color: $critical_bg;
      }
      &.major {
        background-color: $major_bg;
      }
      &.minor {
        background-color: $minor_bg;
      }
      &.etc {
        background-color: $etc_bg;
      }
    }
  }
  dd + dt {
    margin-left: 12px;
  }
}
.table.m_alarm {
  &.y_scroll {
    position: absolute;
    top: 0;
    bottom: 0;
  }
  &.y_scroll .tbody {
    max-height: 200px;
    table {
      border-right: 0;
    }
  }
  th.sort {
    padding-right: 8px !important;
    &:after {
      position: inherit;
      top: 25%;
      width: 14px;
      height: 14px;
      vertical-align: middle;
      background: url("../../images/atom/monitoring.png") -466px -67px no-repeat;
    }
    &.down {
      &:after {
        background-position: -466px -117px;
      }
      &:active:after,
      &:hover:after {
        background-position: -516px -117px;
      }
    }
    &.up {
      &:after {
        background-position: -466px -167px;
      }
      &:active:after,
      &:hover:after {
        background-position: -516px -167px;
      }
    }
  }
  thead {
    tr {
      th {
        height: 22px;
        padding: 0 8px;
        border-bottom: 1px solid #cfd0d2;
        vertical-align: middle;
        text-align: left;
        // font-weight: 500;
        font-size: 11px;
        color: #8a8f99;
      }
    }
  }
  tr {
    &.critical td {
      background-color: $critical_bg;
      border-bottom: 1px solid #ce1414;
    }
    &.major td {
      background-color: $major_bg;
      border-bottom: 1px solid #d9600f;
    }
    &.minor td {
      background-color: $minor_bg;
      border-bottom: 1px solid #d9a50b;
    }
    &.warning td {
      background-color: $warning_bg;
      border-bottom: 1px solid #df5f62;
    }
    &.cleared td {
      background-color: $cleared_bg;
      border-bottom: 1px solid #5d64aa;
    }
    &.fault td {
      background-color: $fault_bg;
      border-bottom: 1px solid #9171ce;
    }
    &.indeterminate td {
      background-color: $indeterminate_bg;
      border-bottom: 1px solid #877d80;
    }
    &.notice td {
      background-color: $notice_bg;
      border-bottom: 1px solid #998254;
    }
    &:hover td {
      cursor: pointer;
    }
  }
  td {
    height: 25px;
    padding: 0 8px;
    font-size: 13px;
    color: #ffffff;
    // line-height: 15px;
    vertical-align: middle;
    i.ack {
      display: inline-block;
      width: 5px;
      height: 5px;
      margin-left: 5px;
      background-color: #ffffff;
      border-radius: 10px;
      font-size: 0;
      line-height: 15px;
      // text-indent: -9999px;
      // overflow: hidden;
    }
    &.ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  &.checkbox_all tr th:first-child,
  &.checkbox_all tr td:first-child {
    padding-right: 0 !important;
  }
  .no_data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 8px;
    font-size: 13px;
    color: #999999;
  }
  .load_wrap {
    height: 67px;
  }
}
.m_alarm_list {
  &.xs,
  &.s,
  &.m,
  &.l {
    .m_alarm_count {
      transform: translate(-66%, 0);
    }
    .table.m_alarm {
      colgroup col:nth-child(2),
      colgroup col:nth-child(6),
      tr th:nth-child(2),
      tr th:nth-child(6),
      tr td:nth-child(2),
      tr td:nth-child(6) {
        display: none;
      }
    }
  }
  &.xs,
  &.s,
  &.m {
    .item_control {
      display: none;
    }
    .m_alarm_count {
      transform: translate(-29%, 0);
    }
    .table.m_alarm {
      colgroup col:nth-child(4),
      tr th:nth-child(4),
      tr td:nth-child(4) {
        display: none;
      }
    }
  }
  &.xs,
  &.s {
    .m_alarm_count dt {
      display: none;
    }
    .m_alarm_count {
      transform: translate(0, 0);
    }
    .table.m_alarm {
      colgroup col:nth-child(5),
      tr th:nth-child(5),
      tr td:nth-child(5) {
        display: none;
      }
    }
  }
  &.xs {
    .m_alarm_count {
      left: 60%;
    }
    .m_alarm_count dt,
    .m_alarm_count dd {
      display: none;
    }
    .m_alarm_count dt:first-child,
    .m_alarm_count dt:first-child + dd {
      display: inline-block;
    }
    .table.m_alarm {
      colgroup col:nth-child(7),
      tr th:nth-child(7),
      tr td:nth-child(7) {
        display: none;
      }
    }
  }
  &.xs,
  &.s,
  &.m,
  &.low {
    h2 {
      display: none;
    }
    .item_header {
      height: 36px !important;
    }
    .item_info {
      height: calc(100% - 36px) !important;
    }
    .alarm_btn_group {
      bottom: 7px;
    }
    .m_alarm_count {
      top: 7px;
    }
    .item_control {
      bottom: 0;
    }
  }
  &.l.low {
    .item_control {
      display: none;
    }
    .m_alarm_count {
      transform: translate(-27%, 0);
    }
  }
  &.all {
    .btn_expand {
      display: none;
    }
  }
  &.all.low {
    .btn_expand {
      display: inline-block;
    }
    .m_alarm_count {
      transform: translate(-66%, 0);
    }
    .item_control {
      right: 40px;
      bottom: 2px;
    }
  }
}


.visible_alarm {
  display: none;
  position: fixed;
  // top: 50%;
  // transform: translate(0, -50%);
  width: 330px;
  color: #ffffff;
  background-color: #292c33;
  box-shadow: 0 5px 40px rgba(0,0,0,0.4);
  &.active {
    display: block;
    z-index: 99;
    // 삭제예정
    // &.left {
    //   left: 38px;
    //   animation: fadein_left 0.2s ease;
    // }
    // &.center {
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   animation: fadein_center 0.2s ease;
    // }
    // &.right {
    //   right: 0;
    //   animation: fadein_right 0.2s ease;
    // }
  }
  .noti_head {
    height: 30px;
    h3 {
      display: inline-block;
      padding-left: 18px;
      color: #bbbcbf;
      line-height: 28px;
      font-size: 12px;
      font-weight: 600;
    }
    .count {
      padding: 1px 7px 2px;
      margin-left: 5px;
      color: #ffffff;
      font-size: 11px;
      font-weight: bold;
      background-color: #525761;
      border-radius: 20px;
      -webkit-border-radius: 20px;
    }
  }
  .noti_list {
    max-height: 840px;
    overflow-y: auto;
    .noti {
      position: relative;
      display: inline-block;
      width: 100%;
      padding: 3px 18px 8px;
      border-top: 1px solid #1e1e20;
      &.critical {
        background-color: $critical_bg;
      }
      &.major {
        background-color: $major_bg;
      }
      &.minor {
        background-color: $minor_bg;
      }
      &.warning {
        background-color: $warning_bg;
      }
      &.cleared {
        background-color: $cleared_bg;
      }
      &.fault {
        background-color: $fault_bg;
      }
      &.indeterminate {
        background-color: $indeterminate_bg;
      }
      &.notice {
        background-color: $notice_bg;
      }
    }
    .state {
      display: inline-block;
      width: 74px;
    }
    .code {
      display: inline-block;
      width: 82px;
      font-size: 11px;
      font-weight: 800;
      color: #ffffff;
      vertical-align: middle;
    }
    .date {
      display: inline-block;
      width: 110px;
      font-size: 11px;
      font-weight: 300;
      color: rgba(255,255,255,0.7);
      vertical-align: middle;
    }
    .name {
      line-height: 18px;
      font-size: 13px;
      font-weight: 300;
      margin-bottom: 2px;
      color: #ffffff;
    }
    .info {
      max-height: 27px;
      line-height: 13px;
      font-size: 11px;
      font-weight: 600;
      color: rgba(0,0,0,0.8);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  .btn_close_all {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    padding: 0 14px 1px 15px;
    color: #b9babd;
    font-size: 11px;
    font-weight: 600;
    background-color: transparent;
    border-left: 1px solid #1e1e20;
    &:hover {
      color: #ffffff;
    }
    &:active {
      color: #00c188;
      background-color: #212329;
    }
  }
  .btn_close_s {
    right: 8px;
  }
}
// 삭제예정
// @keyframes fadein_left{
//   from {
//     opacity: 0;
//     left: -300px;
//   }
//   to {
//     opacity: 1;
//     left: 38px;
//   }
// }
// @keyframes fadein_center{
//   from {
//     opacity: 0;
//     top: 0;
//   }
//   to {
//     opacity: 1;
//     top: 50%;
//   }
// }
// @keyframes fadein_right{
//   from {
//     opacity: 0;
//     right: -300px;
//   }
//   to {
//     opacity: 1;
//     right: 0;
//   }
// }

/*
.detail_alarm {
  &.critical {
    border: 1px solid $critical_bg;
    .detail_head {
      background-color: $critical_bg;
    }
  }
  .detail_head {
    position: relative;
    height: 33px;
    h2 {
      padding-left: 20px;
      line-height: 30px;
      font-size: 12px;
      color: rgba(255,255,255,0.8);
    }
    .title {
      position: absolute;
      top: 4px;
      left: 50%;
      transform: translateX(-50%);
      .code {
        margin-left: 9px;
        color: #fff;
        font-size: 13px;
        font-weight: bold;
        vertical-align: middle;
      }
    }
  }
  .alarm_info {
    line-height: 17px;
    padding: 0 8px 18px;
    dt {
      margin-bottom: -3px;
      color: #a0a1a3;
      font-size: 11px;
    }
    dd {
      font-size: 13px;
    }
    dd + dt {
      margin-top: 9px;
    }
  }
  .context_menu {
    display: block;
    box-shadow: none;
  }
  .result_item {
    padding: 8px 40px 10px;
    text-align: center;
    line-height: 15px;
    li {
      display: inline-block;
      color: #777777;
      font-size: 11px;
      .multi + .multi:before {
        content: ',';
        margin: 0 5px 0 -2px; 
      }
    }
    li + li:before {
      content: '/';
      color: #cccccc;
      margin: 0 7px 0 3px; 
    }
  }
  .chart_area {
    height: 210px;
  }
  .table.type_01,
  .table.type_02 {
    border-top: 1px solid #e8e8e8;
    box-shadow: none;
    box-shadow: -webkit-none;
    thead tr th {
      height: 26px;
      font-size: 11px;
      color: #a0a1a3;
    }
    td {
      height: 30px;
      font-size: 13px;
      line-height: 1.2em;
      border: none;
    }
  }
  .table.y_scroll {
    &.type_01 .tbody {
      max-height: 600px;
    }
    &.type_02 .tbody {
      max-height: 300px;
    }
  }
}
*/

.m_detail {
  .detail_head {
  }
}

/* Popup */
.m_pop_head {
  position: relative;
  min-height: 32px;
  padding: 6px 30px 0 6px;
  background-color: #62687a;
  h2 {
    padding-left: 14px;
    color: #e5e5e5;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  .title_tab_menu {
    height: 38px;
    font-size: 0;
    overflow: hidden;
    white-space: nowrap;
    button {
      height: 100%;
      padding: 0 14px 5px;
      color: #c8c9cc;
      font-size: 13px;
      font-weight: bold;
      background-color: transparent;
      &:hover {
        color: #ffffff;
      }
    }
    button + button {
      margin-left: 4px;
    }
    .active:hover,
    .active {
      color: #212126;
      background-color: #fff;
      cursor: default;
    }
  }
}
.m_pop_cont {
  max-height: 800px;
  overflow-y: auto;
  &.type_02 {
    display: table;
    .cell {
      display: table-cell;
    }
    .cell.type_01 {
      width: 220px;
      max-width: 220px;
      padding: 10px 12px 12px;
    }
    .cell + .cell {
      border-left: 1px solid #d6d6d6;
    }
  }
}



/* amchart */
.amchart_m_line01 {
  width: 100%;
  height: 100%;
}
.pop_wrap .chart_area {
  width: 100%;
  height: 240px;
  padding: 0 9px 8px;
}
.pop_wrap .select.type_03 {
  margin: 4px 0 0 8px;
}

/* context_menu */
.context_menu {
  display: inline-block;
  max-width: 200px;
  text-align: left;
  background-color: #292c33;
  border-radius: 4px;
  box-shadow: 0 2px 25px rgba(0,0,0,0.2);
  h4 {
    position: relative;
    height: 26px;
    line-height: 25px;
    padding: 0 12px;
    color: #77797d;
    font-size: 8.5px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #1d1f24;
    &:after {
      content:'';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #31343b;
    }
  }
  hr {
    position: relative;
    display: block;
    height: 2px;
    margin: 3px 0 1px;
    border: none;
    background: #1d1f24;
    &:after {
      content:'';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #31343b;
    }
  }
  > div,
  > ul {
    padding: 4px 0 6px;
    max-height: 300px;
    overflow-y: auto;
  }
  a,
  li {
    display: block;
    color: #cfd2d9;
    font-size: 13px;
    line-height: 18px;
    padding: 3px 12px 4px;
    cursor: pointer;
    &:hover {
      color: #ffffff;
      background-color: #1d1f24;
    }
    &:active {
      color: #00cfa1;
      background-color: #1d1f24;
    }
  }
}