/* alarm color */
.monitoring { background-color: #f2f2f3; }
.monitoring .disconnect_wrap { z-index: 9999; }
.monitoring .state > i { height: 15px; padding: 0 6px 1px; line-height: 10px; font-size: 10px; font-weight: bold; font-style: normal; background-color: #ffffff; border-radius: 20px; -webkit-border-radius: 20px; }
.monitoring .critical .state > i { color: #e01616; background-color: #fff475; }
.monitoring .major .state > i { color: #ec6810; }
.monitoring .minor .state > i { color: #ebb30c; }
.monitoring .warning .state > i { color: #f2676a; }
.monitoring .cleared .state > i { color: #656cb8; }
.monitoring .fault .state > i { color: #9d7be0; }
.monitoring .indeterminate .state > i { color: #93888b; }
.monitoring .notice .state > i { color: #a68d5b; }
.monitoring .btn_close, .monitoring .btn_close_s { position: absolute; font-size: 0; text-indent: -9999px; background: url("../../images/atom/monitoring.png") no-repeat; }
.monitoring .btn_close_s { top: 5px; right: 5px; width: 24px; height: 24px; background-position: -463px -213px; }
.monitoring .btn_close_s:hover { background-position: -513px -213px; }
.monitoring .btn_close_s:active { background-position: -563px -213px; }
.monitoring .btn_close { top: 2px; right: 6px; width: 30px; height: 30px; background-position: -460px -260px; }
.monitoring .btn_close:hover { background-position: -510px -260px; }
.monitoring .btn_close:active { background-position: -560px -260px; }

.m_lnb { position: fixed; width: 38px; height: 100vh; padding: 14px 0 700px 4px; background-color: #292c33; z-index: 2; }
.m_lnb .logo { position: absolute; bottom: 45px; width: 30px; height: 130px; font-size: 0; text-indent: -9999px; background: url("../../images/atom/monitoring.png") -10px -10px no-repeat; }
.m_lnb .menu { position: relative; }
.m_lnb .menu.active .menu_list { background-position: -160px -10px !important; }
.m_lnb .menu.active .dropdown { display: block; }
.m_lnb .menu .dropdown { display: none; position: absolute; top: -5px; left: 39px; width: 230px; max-height: 700px; background-color: #ffffff; box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2); border-radius: 5px; -webkit-border-radius: 5px; z-index: 2; }
.m_lnb .menu .dropdown:before { content: ''; position: absolute; display: inline-block; top: 13px; left: -10px; border-style: solid; border-width: 8px 10px 8px 0; border-color: transparent #ffffff transparent transparent; }
.m_lnb .menu .dropdown li { padding: 8px 0; }
.m_lnb .menu .dropdown li + li { border-top: 1px solid #e9eaeb; }
.m_lnb .menu .dropdown .btn_menu { position: relative; width: 100%; padding: 6px 18px 6px 34px; text-align: left; font-size: 14px; line-height: 16px; background-color: transparent; }
.m_lnb .menu .dropdown .btn_menu.choice:before { content: ''; display: inline-block; position: absolute; top: 4px; left: 12px; width: 20px; height: 20px; background: url("../../images/atom/monitoring.png") -465px -15px no-repeat; }
.m_lnb .menu .dropdown .btn_menu:hover { background-color: #f2f2f3; }
.m_lnb .menu .dropdown .btn_menu:disabled { cursor: default; opacity: 0.6; }
.m_lnb .menu .dropdown .btn_menu:disabled.choice:before { opacity: 0.45; }
.m_lnb .menu .dropdown .btn_menu:disabled:hover { background-color: transparent; }
.m_lnb .btn_control { position: absolute; top: 50%; transform: translate(0, -75%); }
.m_lnb .btn_control .btn + .btn { margin-top: 10px; }
.m_lnb .btn.icon { width: 30px; height: 30px; font-size: 0; text-indent: -9999px; background: url("../../images/atom/monitoring.png") no-repeat; }
.m_lnb .btn.icon.menu_list { background-position: -60px -10px; }
.m_lnb .btn.icon.menu_list:hover { background-position: -110px -10px; }
.m_lnb .btn.icon.menu_list:active { background-position: -160px -10px; }
.m_lnb .btn.icon.setting { position: absolute; bottom: 14px; background-position: -60px -60px; }
.m_lnb .btn.icon.setting:hover { background-position: -110px -60px; }
.m_lnb .btn.icon.setting:active { background-position: -160px -60px; }
.m_lnb .btn.icon.popup_on { background-position: -60px -110px; }
.m_lnb .btn.icon.popup_on:hover { background-position: -110px -110px; }
.m_lnb .btn.icon.popup_on:active { background-position: -160px -110px; }
.m_lnb .btn.icon.popup_off { background-position: -60px -160px; }
.m_lnb .btn.icon.popup_off:hover { background-position: -110px -160px; }
.m_lnb .btn.icon.popup_off:active { background-position: -160px -160px; }
.m_lnb .btn.icon.sound_on { background-position: -60px -210px; }
.m_lnb .btn.icon.sound_on:hover { background-position: -110px -210px; }
.m_lnb .btn.icon.sound_on:active { background-position: -160px -210px; }
.m_lnb .btn.icon.sound_off { background-position: -60px -260px; }
.m_lnb .btn.icon.sound_off:hover { background-position: -110px -260px; }
.m_lnb .btn.icon.sound_off:active { background-position: -160px -260px; }
.m_lnb .btn.icon.pause { background-position: -60px -310px; }
.m_lnb .btn.icon.pause:hover { background-position: -110px -310px; }
.m_lnb .btn.icon.pause:active { background-position: -160px -310px; }
.m_lnb .btn.icon.play { background-position: -60px -360px; }
.m_lnb .btn.icon.play:hover { background-position: -110px -360px; }
.m_lnb .btn.icon.play:active { background-position: -160px -360px; }
.m_lnb .btn.icon.recurring { background-position: -60px -410px; }
.m_lnb .btn.icon.recurring:hover { background-position: -110px -410px; }
.m_lnb .btn.icon.recurring:active { background-position: -160px -410px; }

.m_content { position: relative; width: 100%; min-width: 1400px; min-height: 970px; padding-top: 12px; padding-left: 38px; margin-bottom: 12px; }
.m_content .grid-stack { margin: 0 8px; }
.m_content .grid-stack .grid-stack-placeholder > .placeholder-content { left: 4px; right: 4px; }
.m_content .grid-stack > .grid-stack-item > .grid-stack-item-content { left: 4px; right: 4px; }
.m_content .grid-stack > .grid-stack-item[data-gs-width='1'] { width: 10%; }
.m_content .grid-stack > .grid-stack-item[data-gs-x='1'] { left: 10%; }
.m_content .grid-stack > .grid-stack-item[data-gs-min-width='1'] { min-width: 10%; }
.m_content .grid-stack > .grid-stack-item[data-gs-max-width='1'] { max-width: 10%; }
.m_content .grid-stack > .grid-stack-item[data-gs-width='2'] { width: 20%; }
.m_content .grid-stack > .grid-stack-item[data-gs-x='2'] { left: 20%; }
.m_content .grid-stack > .grid-stack-item[data-gs-min-width='2'] { min-width: 20%; }
.m_content .grid-stack > .grid-stack-item[data-gs-max-width='2'] { max-width: 20%; }
.m_content .grid-stack > .grid-stack-item[data-gs-width='3'] { width: 30%; }
.m_content .grid-stack > .grid-stack-item[data-gs-x='3'] { left: 30%; }
.m_content .grid-stack > .grid-stack-item[data-gs-min-width='3'] { min-width: 30%; }
.m_content .grid-stack > .grid-stack-item[data-gs-max-width='3'] { max-width: 30%; }
.m_content .grid-stack > .grid-stack-item[data-gs-width='4'] { width: 40%; }
.m_content .grid-stack > .grid-stack-item[data-gs-x='4'] { left: 40%; }
.m_content .grid-stack > .grid-stack-item[data-gs-min-width='4'] { min-width: 40%; }
.m_content .grid-stack > .grid-stack-item[data-gs-max-width='4'] { max-width: 40%; }
.m_content .grid-stack > .grid-stack-item[data-gs-width='5'] { width: 50%; }
.m_content .grid-stack > .grid-stack-item[data-gs-x='5'] { left: 50%; }
.m_content .grid-stack > .grid-stack-item[data-gs-min-width='5'] { min-width: 50%; }
.m_content .grid-stack > .grid-stack-item[data-gs-max-width='5'] { max-width: 50%; }
.m_content .grid-stack > .grid-stack-item[data-gs-width='6'] { width: 60%; }
.m_content .grid-stack > .grid-stack-item[data-gs-x='6'] { left: 60%; }
.m_content .grid-stack > .grid-stack-item[data-gs-min-width='6'] { min-width: 60%; }
.m_content .grid-stack > .grid-stack-item[data-gs-max-width='6'] { max-width: 60%; }
.m_content .grid-stack > .grid-stack-item[data-gs-width='7'] { width: 70%; }
.m_content .grid-stack > .grid-stack-item[data-gs-x='7'] { left: 70%; }
.m_content .grid-stack > .grid-stack-item[data-gs-min-width='7'] { min-width: 70%; }
.m_content .grid-stack > .grid-stack-item[data-gs-max-width='7'] { max-width: 70%; }
.m_content .grid-stack > .grid-stack-item[data-gs-width='8'] { width: 80%; }
.m_content .grid-stack > .grid-stack-item[data-gs-x='8'] { left: 80%; }
.m_content .grid-stack > .grid-stack-item[data-gs-min-width='8'] { min-width: 80%; }
.m_content .grid-stack > .grid-stack-item[data-gs-max-width='8'] { max-width: 80%; }
.m_content .grid-stack > .grid-stack-item[data-gs-width='9'] { width: 90%; }
.m_content .grid-stack > .grid-stack-item[data-gs-x='9'] { left: 90%; }
.m_content .grid-stack > .grid-stack-item[data-gs-min-width='9'] { min-width: 90%; }
.m_content .grid-stack > .grid-stack-item[data-gs-max-width='9'] { max-width: 90%; }
.m_content .grid-stack > .grid-stack-item[data-gs-width='10'] { width: 100%; }
.m_content .grid-stack > .grid-stack-item[data-gs-x='10'] { left: 100%; }
.m_content .grid-stack > .grid-stack-item[data-gs-min-width='10'] { min-width: 100%; }
.m_content .grid-stack > .grid-stack-item[data-gs-max-width='10'] { max-width: 100%; }
.m_content .item_wrap { position: relative; width: 100%; height: 100%; }
.m_content .item_wrap.bg_01 { border: 1px solid #f2f2f3; }
.m_content .item_wrap.bg_02 { background-color: #fafafa; border: 1px solid #e8e8ea; }
.m_content .item_wrap.bg_03 { background-color: rgba(38, 48, 76, 0.05); border: 1px solid #e8e8ea; }
.m_content .item_wrap.alarm_wrap.expand { position: absolute; top: 12px; bottom: 0; right: 12px; width: calc(100% - 38px - 40%); height: initial; z-index: 10; }
.m_content .item_wrap.alarm_wrap.expand .btn_expand { display: none; }
.m_content .item_wrap.alarm_wrap.expand .btn_compress { display: inline-block; }
.m_content .item_wrap.alarm_wrap .item_header { height: 71px; }
.m_content .item_wrap.alarm_wrap .item_info { height: calc(100% - 71px); }
.m_content .item_wrap.alarm_wrap .item_control .select.type_08.s { width: 90px !important; min-width: 90px !important; }
.m_content .item_wrap.alarm_wrap .item_control .input.search.type_08 { width: 170px !important; min-width: 170px !important; margin-right: 10px; }
.m_content .item_wrap.alarm_wrap .table.m_alarm.y_scroll .tbody { max-height: calc(100% - 23px); overflow-y: auto; }
.m_content .item_wrap.view_wrap .item_header { position: absolute; top: 0; z-index: 1; height: 35px; }
.m_content .item_wrap.view_wrap .item_info { height: 100%; }
.m_content .item_cont { height: 100%; }
.m_content .item_header { position: relative; width: 100%; height: 30px; padding: 6px 0 0 17px; }
.m_content .item_header h2 { display: inline-block; padding-top: 2px; font-size: 14px; font-weight: 700; color: #292c33; vertical-align: top; }
.m_content .item_header h2 + .select { margin-top: -6px; }
.m_content .item_header h2 + .select:before { content: ':'; position: absolute; left: 4px; top: 7px; color: #777777; font-size: 13px; font-weight: 300; }
.m_content .item_header h2 + .select .multiselect-native-select .dropdown-menu { margin-top: -4px; }
.m_content .item_header .alarm_btn_group { position: absolute; bottom: 9px; }
.m_content .item_header .item_control { position: absolute; right: 10px; bottom: 4px; }
.m_content .item_header .btn_expand, .m_content .item_header .btn_compress { position: absolute; width: 24px; height: 24px; background: transparent url("../../images/atom/monitoring.png") no-repeat; }
.m_content .item_header .btn_expand { top: 7px; right: 13px; background-position: -263px -363px; }
.m_content .item_header .btn_expand:hover { background-position: -313px -363px; }
.m_content .item_header .btn_expand:active { background-position: -363px -363px; }
.m_content .item_header .btn_compress { display: none; top: 0; right: 0; background-position: -263px -113px; }
.m_content .item_header .btn_compress:hover { background-position: -313px -113px; }
.m_content .item_header .btn_compress:active { background-position: -363px -113px; }
.m_content .item_header .item_tab_menu button { padding: 3px 12px 5px; color: #5c5f66; font-size: 14px; font-weight: bold; background-color: transparent; border-radius: 4px; -webkit-border-radius: 4px; }
.m_content .item_header .item_tab_menu button:hover { color: #292c33; background-color: #dededf; }
.m_content .item_header .item_tab_menu button + button { margin-left: 5px; }
.m_content .item_header .item_tab_menu .active:hover, .m_content .item_header .item_tab_menu .active { color: #fff; background-color: #292c33; cursor: default; }
.m_content .item_info { position: relative; height: calc(100% - 30px); }
.m_content .chart_area { width: 100%; height: 100%; padding: 0 4px; }
.m_content .input.search.type_08:before { display: none; }
.m_content .input.search.type_08 input { padding-left: 11px !important; }
.m_content .loading { position: absolute; top: 50%; left: 50%; margin: -13px 0 0 -13px; }

.option_btn_group { position: absolute; top: 8px; right: 9px; width: 195px; text-align: right; white-space: nowrap; font-size: 0; z-index: 10; }
.option_btn_group .btn.icon { width: 24px; height: 24px; font-size: 0; text-indent: -9999px; background: url("../../images/atom/monitoring.png") no-repeat; }
.option_btn_group .btn.icon.zoom_in { background-position: -264px -14px; }
.option_btn_group .btn.icon.zoom_in:hover { background-position: -314px -14px; }
.option_btn_group .btn.icon.zoom_in:active { background-position: -364px -14px; }
.option_btn_group .btn.icon.zoom_out { background-position: -264px -64px; }
.option_btn_group .btn.icon.zoom_out:hover { background-position: -314px -64px; }
.option_btn_group .btn.icon.zoom_out:active { background-position: -364px -64px; }
.option_btn_group .btn.icon.fit { background-position: -264px -114px; }
.option_btn_group .btn.icon.fit:hover { background-position: -314px -114px; }
.option_btn_group .btn.icon.fit:active { background-position: -364px -114px; }
.option_btn_group .btn.icon.new_tab { background-position: -264px -164px; }
.option_btn_group .btn.icon.new_tab:hover { background-position: -314px -164px; }
.option_btn_group .btn.icon.new_tab:active { background-position: -364px -164px; }
.option_btn_group .btn.icon.filter { background-position: -264px -214px; }
.option_btn_group .btn.icon.filter.active, .option_btn_group .btn.icon.filter:hover { background-position: -314px -214px; }
.option_btn_group .btn.icon.filter:active { background-position: -364px -214px; }
.option_btn_group .btn.icon.info { background-position: -264px -264px; }
.option_btn_group .btn.icon.info.active, .option_btn_group .btn.icon.info:hover { background-position: -314px -264px; }
.option_btn_group .btn.icon.info:active { background-position: -364px -264px; }
.option_btn_group .btn.icon.legend { background-position: -264px -314px; }
.option_btn_group .btn.icon.legend.active, .option_btn_group .btn.icon.legend:hover { background-position: -314px -314px; }
.option_btn_group .btn.icon.legend:active { background-position: -364px -314px; }
.option_btn_group .btn.icon:nth-child(n+2) { margin-left: 2px; }
.option_btn_group .btn.icon:nth-child(n+4) { margin-left: 5px; }

.option_box { position: absolute; top: 38px; right: 9px; width: 195px; max-height: calc(100% - 48px); overflow-y: auto; background-color: #eeeeef; border: 1px solid #d4d4d4; border-radius: 3px; -webkit-border-radius: 3px; z-index: 10; }
.option_box h4 { color: #afafb2; font-size: 11px; font-weight: bold; }
.option_box > div { padding: 7px 17px 14px; }
.option_box > div + div.hide + div, .option_box > div + div { border-top: 1px solid #d4d4d4; }
.option_box > div.hide + div.hide + div, .option_box > div.hide + div { border-top: none; }
.option_box .filter_area .name { color: #444; font-size: 13px; padding: 2px 0; }
.option_box .filter_area li + li { margin-top: 5px; }
.option_box .info_area { padding-bottom: 6px; }
.option_box .info_area dl { line-height: 20px; padding: 4px 0 5px; }
.option_box .info_area dl + dl { border-top: 1px dotted #d4d4d4; }
.option_box .info_area dt { display: inline-block; width: 60%; color: #444; font-size: 13px; }
.option_box .info_area dd { float: right; display: inline-block; width: 40%; padding-right: 2px; color: #444; font-size: 16px; font-weight: bold; text-align: right; }
.option_box .legend_area { padding-bottom: 12px; }
.option_box .legend_area ul { display: inline-block; line-height: 18px; margin-top: 4px; }
.option_box .legend_area ul + ul { float: right; }
.option_box .legend_area li { color: #444; font-size: 11.5px; white-space: nowrap; }
.option_box .legend_area .legend_node { width: 52%; }
.option_box .legend_area .legend_node > li:before { content: ''; display: inline-block; width: 9px; height: 9px; margin-right: 7px; border-radius: 10px; -webkit-border-radius: 10px; background-color: pink; }
.option_box .legend_area .legend_node .critical:before { background-color: #e01616; }
.option_box .legend_area .legend_node .major:before { background-color: #ec6810; }
.option_box .legend_area .legend_node .minor:before { background-color: #ebb30c; }
.option_box .legend_area .legend_node .unknown:before { background-color: #adb0b6; }
.option_box .legend_area .legend_node .running:before { background-color: #00a8eb; }
.option_box .legend_area .legend_line { width: 48%; }
.option_box .legend_area .legend_line > li:before { content: ''; display: inline-block; width: 10px; height: 2px; margin-right: 7px; border-top-width: 2px; border-top-style: solid; vertical-align: middle; }
.option_box .legend_area .legend_line .connect:before { border-color: #292c33; }
.option_box .legend_area .legend_line .disconnect:before { border-color: #f02b2b; }
.option_box .legend_area .legend_line .unknown:before { border-color: #adb0b6; }
.option_box .legend_area .legend_line .transper:before { border-top-style: dotted; border-color: #03a7ee; }

.m_alarm_count { position: absolute; left: 50%; top: 12px; transform: translate(-50%, 0); white-space: nowrap; }
.m_alarm_count dt { display: inline-block; font-size: 12px; }
.m_alarm_count dt.total { font-weight: 600; color: #434854; }
.m_alarm_count dt.critical { color: #e01616; }
.m_alarm_count dt.major { color: #ec6810; }
.m_alarm_count dt.minor { color: #ebb30c; }
.m_alarm_count dt.etc { color: #737373; }
.m_alarm_count dd { display: inline-block; }
.m_alarm_count dd .count { min-width: 22px; height: 18px; padding: 0 8px; color: #fff; font-size: 11px; font-weight: 600; border-radius: 20px; text-align: center; }
.m_alarm_count dd .count.total { background-color: #4c5059; }
.m_alarm_count dd .count.critical { background-color: #e01616; }
.m_alarm_count dd .count.major { background-color: #ec6810; }
.m_alarm_count dd .count.minor { background-color: #ebb30c; }
.m_alarm_count dd .count.etc { background-color: #8c8d91; }
.m_alarm_count dd + dt { margin-left: 12px; }

.table.m_alarm.y_scroll { position: absolute; top: 0; bottom: 0; }
.table.m_alarm.y_scroll .tbody { max-height: 200px; }
.table.m_alarm.y_scroll .tbody table { border-right: 0; }
.table.m_alarm th.sort { padding-right: 8px !important; }
.table.m_alarm th.sort:after { position: inherit; top: 25%; width: 14px; height: 14px; vertical-align: middle; background: url("../../images/atom/monitoring.png") -466px -67px no-repeat; }
.table.m_alarm th.sort.down:after { background-position: -466px -117px; }
.table.m_alarm th.sort.down:active:after, .table.m_alarm th.sort.down:hover:after { background-position: -516px -117px; }
.table.m_alarm th.sort.up:after { background-position: -466px -167px; }
.table.m_alarm th.sort.up:active:after, .table.m_alarm th.sort.up:hover:after { background-position: -516px -167px; }
.table.m_alarm thead tr th { height: 22px; padding: 0 8px; border-bottom: 1px solid #cfd0d2; vertical-align: middle; text-align: left; font-size: 11px; color: #8a8f99; }
.table.m_alarm tr.critical td { background-color: #e01616; border-bottom: 1px solid #ce1414; }
.table.m_alarm tr.major td { background-color: #ec6810; border-bottom: 1px solid #d9600f; }
.table.m_alarm tr.minor td { background-color: #ebb30c; border-bottom: 1px solid #d9a50b; }
.table.m_alarm tr.warning td { background-color: #f2676a; border-bottom: 1px solid #df5f62; }
.table.m_alarm tr.cleared td { background-color: #656cb8; border-bottom: 1px solid #5d64aa; }
.table.m_alarm tr.fault td { background-color: #9d7be0; border-bottom: 1px solid #9171ce; }
.table.m_alarm tr.indeterminate td { background-color: #93888b; border-bottom: 1px solid #877d80; }
.table.m_alarm tr.notice td { background-color: #a68d5b; border-bottom: 1px solid #998254; }
.table.m_alarm tr:hover td { cursor: pointer; }
.table.m_alarm td { height: 25px; padding: 0 8px; font-size: 13px; color: #ffffff; vertical-align: middle; }
.table.m_alarm td i.ack { display: inline-block; width: 5px; height: 5px; margin-left: 5px; background-color: #ffffff; border-radius: 10px; font-size: 0; line-height: 15px; }
.table.m_alarm td.ellipsis { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.table.m_alarm.checkbox_all tr th:first-child, .table.m_alarm.checkbox_all tr td:first-child { padding-right: 0 !important; }
.table.m_alarm .no_data { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding-top: 8px; font-size: 13px; color: #999999; }
.table.m_alarm .load_wrap { height: 67px; }

.m_alarm_list.xs .m_alarm_count, .m_alarm_list.s .m_alarm_count, .m_alarm_list.m .m_alarm_count, .m_alarm_list.l .m_alarm_count { transform: translate(-66%, 0); }
.m_alarm_list.xs .table.m_alarm colgroup col:nth-child(2), .m_alarm_list.xs .table.m_alarm colgroup col:nth-child(6), .m_alarm_list.xs .table.m_alarm tr th:nth-child(2), .m_alarm_list.xs .table.m_alarm tr th:nth-child(6), .m_alarm_list.xs .table.m_alarm tr td:nth-child(2), .m_alarm_list.xs .table.m_alarm tr td:nth-child(6), .m_alarm_list.s .table.m_alarm colgroup col:nth-child(2), .m_alarm_list.s .table.m_alarm colgroup col:nth-child(6), .m_alarm_list.s .table.m_alarm tr th:nth-child(2), .m_alarm_list.s .table.m_alarm tr th:nth-child(6), .m_alarm_list.s .table.m_alarm tr td:nth-child(2), .m_alarm_list.s .table.m_alarm tr td:nth-child(6), .m_alarm_list.m .table.m_alarm colgroup col:nth-child(2), .m_alarm_list.m .table.m_alarm colgroup col:nth-child(6), .m_alarm_list.m .table.m_alarm tr th:nth-child(2), .m_alarm_list.m .table.m_alarm tr th:nth-child(6), .m_alarm_list.m .table.m_alarm tr td:nth-child(2), .m_alarm_list.m .table.m_alarm tr td:nth-child(6), .m_alarm_list.l .table.m_alarm colgroup col:nth-child(2), .m_alarm_list.l .table.m_alarm colgroup col:nth-child(6), .m_alarm_list.l .table.m_alarm tr th:nth-child(2), .m_alarm_list.l .table.m_alarm tr th:nth-child(6), .m_alarm_list.l .table.m_alarm tr td:nth-child(2), .m_alarm_list.l .table.m_alarm tr td:nth-child(6) { display: none; }
.m_alarm_list.xs .item_control, .m_alarm_list.s .item_control, .m_alarm_list.m .item_control { display: none; }
.m_alarm_list.xs .m_alarm_count, .m_alarm_list.s .m_alarm_count, .m_alarm_list.m .m_alarm_count { transform: translate(-29%, 0); }
.m_alarm_list.xs .table.m_alarm colgroup col:nth-child(4), .m_alarm_list.xs .table.m_alarm tr th:nth-child(4), .m_alarm_list.xs .table.m_alarm tr td:nth-child(4), .m_alarm_list.s .table.m_alarm colgroup col:nth-child(4), .m_alarm_list.s .table.m_alarm tr th:nth-child(4), .m_alarm_list.s .table.m_alarm tr td:nth-child(4), .m_alarm_list.m .table.m_alarm colgroup col:nth-child(4), .m_alarm_list.m .table.m_alarm tr th:nth-child(4), .m_alarm_list.m .table.m_alarm tr td:nth-child(4) { display: none; }
.m_alarm_list.xs .m_alarm_count dt, .m_alarm_list.s .m_alarm_count dt { display: none; }
.m_alarm_list.xs .m_alarm_count, .m_alarm_list.s .m_alarm_count { transform: translate(0, 0); }
.m_alarm_list.xs .table.m_alarm colgroup col:nth-child(5), .m_alarm_list.xs .table.m_alarm tr th:nth-child(5), .m_alarm_list.xs .table.m_alarm tr td:nth-child(5), .m_alarm_list.s .table.m_alarm colgroup col:nth-child(5), .m_alarm_list.s .table.m_alarm tr th:nth-child(5), .m_alarm_list.s .table.m_alarm tr td:nth-child(5) { display: none; }
.m_alarm_list.xs .m_alarm_count { left: 60%; }
.m_alarm_list.xs .m_alarm_count dt, .m_alarm_list.xs .m_alarm_count dd { display: none; }
.m_alarm_list.xs .m_alarm_count dt:first-child, .m_alarm_list.xs .m_alarm_count dt:first-child + dd { display: inline-block; }
.m_alarm_list.xs .table.m_alarm colgroup col:nth-child(7), .m_alarm_list.xs .table.m_alarm tr th:nth-child(7), .m_alarm_list.xs .table.m_alarm tr td:nth-child(7) { display: none; }
.m_alarm_list.xs h2, .m_alarm_list.s h2, .m_alarm_list.m h2, .m_alarm_list.low h2 { display: none; }
.m_alarm_list.xs .item_header, .m_alarm_list.s .item_header, .m_alarm_list.m .item_header, .m_alarm_list.low .item_header { height: 36px !important; }
.m_alarm_list.xs .item_info, .m_alarm_list.s .item_info, .m_alarm_list.m .item_info, .m_alarm_list.low .item_info { height: calc(100% - 36px) !important; }
.m_alarm_list.xs .alarm_btn_group, .m_alarm_list.s .alarm_btn_group, .m_alarm_list.m .alarm_btn_group, .m_alarm_list.low .alarm_btn_group { bottom: 7px; }
.m_alarm_list.xs .m_alarm_count, .m_alarm_list.s .m_alarm_count, .m_alarm_list.m .m_alarm_count, .m_alarm_list.low .m_alarm_count { top: 7px; }
.m_alarm_list.xs .item_control, .m_alarm_list.s .item_control, .m_alarm_list.m .item_control, .m_alarm_list.low .item_control { bottom: 0; }
.m_alarm_list.l.low .item_control { display: none; }
.m_alarm_list.l.low .m_alarm_count { transform: translate(-27%, 0); }
.m_alarm_list.all .btn_expand { display: none; }
.m_alarm_list.all.low .btn_expand { display: inline-block; }
.m_alarm_list.all.low .m_alarm_count { transform: translate(-66%, 0); }
.m_alarm_list.all.low .item_control { right: 40px; bottom: 2px; }

.visible_alarm { display: none; position: fixed; width: 330px; color: #ffffff; background-color: #292c33; box-shadow: 0 5px 40px rgba(0, 0, 0, 0.4); }
.visible_alarm.active { display: block; z-index: 99; }
.visible_alarm .noti_head { height: 30px; }
.visible_alarm .noti_head h3 { display: inline-block; padding-left: 18px; color: #bbbcbf; line-height: 28px; font-size: 12px; font-weight: 600; }
.visible_alarm .noti_head .count { padding: 1px 7px 2px; margin-left: 5px; color: #ffffff; font-size: 11px; font-weight: bold; background-color: #525761; border-radius: 20px; -webkit-border-radius: 20px; }
.visible_alarm .noti_list { max-height: 840px; overflow-y: auto; }
.visible_alarm .noti_list .noti { position: relative; display: inline-block; width: 100%; padding: 3px 18px 8px; border-top: 1px solid #1e1e20; }
.visible_alarm .noti_list .noti.critical { background-color: #e01616; }
.visible_alarm .noti_list .noti.major { background-color: #ec6810; }
.visible_alarm .noti_list .noti.minor { background-color: #ebb30c; }
.visible_alarm .noti_list .noti.warning { background-color: #f2676a; }
.visible_alarm .noti_list .noti.cleared { background-color: #656cb8; }
.visible_alarm .noti_list .noti.fault { background-color: #9d7be0; }
.visible_alarm .noti_list .noti.indeterminate { background-color: #93888b; }
.visible_alarm .noti_list .noti.notice { background-color: #a68d5b; }
.visible_alarm .noti_list .state { display: inline-block; width: 74px; }
.visible_alarm .noti_list .code { display: inline-block; width: 82px; font-size: 11px; font-weight: 800; color: #ffffff; vertical-align: middle; }
.visible_alarm .noti_list .date { display: inline-block; width: 110px; font-size: 11px; font-weight: 300; color: rgba(255, 255, 255, 0.7); vertical-align: middle; }
.visible_alarm .noti_list .name { line-height: 18px; font-size: 13px; font-weight: 300; margin-bottom: 2px; color: #ffffff; }
.visible_alarm .noti_list .info { max-height: 27px; line-height: 13px; font-size: 11px; font-weight: 600; color: rgba(0, 0, 0, 0.8); overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.visible_alarm .btn_close_all { position: absolute; top: 0; right: 0; height: 30px; padding: 0 14px 1px 15px; color: #b9babd; font-size: 11px; font-weight: 600; background-color: transparent; border-left: 1px solid #1e1e20; }
.visible_alarm .btn_close_all:hover { color: #ffffff; }
.visible_alarm .btn_close_all:active { color: #00c188; background-color: #212329; }
.visible_alarm .btn_close_s { right: 8px; }

/*
.detail_alarm { &.critical { border: 1px solid $critical_bg; .detail_head { background-color: $critical_bg; } } .detail_head { position: relative; height: 33px; h2 { padding-left: 20px; line-height: 30px; font-size: 12px; color: rgba(255,255,255,0.8); } .title { position: absolute; top: 4px; left: 50%; transform: translateX(-50%); .code { margin-left: 9px; color: #fff; font-size: 13px; font-weight: bold; vertical-align: middle; } } } .alarm_info { line-height: 17px; padding: 0 8px 18px; dt { margin-bottom: -3px; color: #a0a1a3; font-size: 11px; } dd { font-size: 13px; } dd + dt { margin-top: 9px; } } .context_menu { display: block; box-shadow: none; } .result_item { padding: 8px 40px 10px; text-align: center; line-height: 15px; li { display: inline-block; color: #777777; font-size: 11px; .multi + .multi:before { content: ','; margin: 0 5px 0 -2px;  } } li + li:before { content: '/'; color: #cccccc; margin: 0 7px 0 3px;  } } .chart_area { height: 210px; } .table.type_01, .table.type_02 { border-top: 1px solid #e8e8e8; box-shadow: none; box-shadow: -webkit-none; thead tr th { height: 26px; font-size: 11px; color: #a0a1a3; } td { height: 30px; font-size: 13px; line-height: 1.2em; border: none; } } .table.y_scroll { &.type_01 .tbody { max-height: 600px; } &.type_02 .tbody { max-height: 300px; } }
}
*/
/* Popup */
.m_pop_head { position: relative; min-height: 32px; padding: 6px 30px 0 6px; background-color: #62687a; }
.m_pop_head h2 { padding-left: 14px; color: #e5e5e5; font-size: 14px; font-weight: 500; line-height: 20px; }
.m_pop_head .title_tab_menu { height: 38px; font-size: 0; overflow: hidden; white-space: nowrap; }
.m_pop_head .title_tab_menu button { height: 100%; padding: 0 14px 5px; color: #c8c9cc; font-size: 13px; font-weight: bold; background-color: transparent; }
.m_pop_head .title_tab_menu button:hover { color: #ffffff; }
.m_pop_head .title_tab_menu button + button { margin-left: 4px; }
.m_pop_head .title_tab_menu .active:hover, .m_pop_head .title_tab_menu .active { color: #212126; background-color: #fff; cursor: default; }

.m_pop_cont { max-height: 800px; overflow-y: auto; }
.m_pop_cont.type_02 { display: table; }
.m_pop_cont.type_02 .cell { display: table-cell; }
.m_pop_cont.type_02 .cell.type_01 { width: 220px; max-width: 220px; padding: 10px 12px 12px; }
.m_pop_cont.type_02 .cell + .cell { border-left: 1px solid #d6d6d6; }

/* amchart */
.amchart_m_line01 { width: 100%; height: 100%; }

.pop_wrap .chart_area { width: 100%; height: 240px; padding: 0 9px 8px; }

.pop_wrap .select.type_03 { margin: 4px 0 0 8px; }

/* context_menu */
.context_menu { display: inline-block; max-width: 200px; text-align: left; background-color: #292c33; border-radius: 4px; box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2); }
.context_menu h4 { position: relative; height: 26px; line-height: 25px; padding: 0 12px; color: #77797d; font-size: 8.5px; font-weight: bold; text-transform: uppercase; border-bottom: 1px solid #1d1f24; }
.context_menu h4:after { content: ''; position: absolute; bottom: -2px; left: 0; width: 100%; height: 1px; background-color: #31343b; }
.context_menu hr { position: relative; display: block; height: 2px; margin: 3px 0 1px; border: none; background: #1d1f24; }
.context_menu hr:after { content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background-color: #31343b; }
.context_menu > div, .context_menu > ul { padding: 4px 0 6px; max-height: 300px; overflow-y: auto; }
.context_menu a, .context_menu li { display: block; color: #cfd2d9; font-size: 13px; line-height: 18px; padding: 3px 12px 4px; cursor: pointer; }
.context_menu a:hover, .context_menu li:hover { color: #ffffff; background-color: #1d1f24; }
.context_menu a:active, .context_menu li:active { color: #00cfa1; background-color: #1d1f24; }

/*# sourceMappingURL=new_monitoring.css.map */
