@charset "UTF-8";

.login .visual .logo_img{background-image:url("../../images/gra/img_login.png");}
.gnb .gnb_logo a{background-image:url("../../images/gra/logo.png");}
.error_area .error_head .logo{background: url("../../images/gra/logo_dark.png") 4px 11px no-repeat;}
.m_header .m_logo{background-image:url("../../images/gra/logo_monitoring.png");}

/* monitoring - node detail animation */
.m_submenu{transition-duration:0s;}
.m_submenu.on{transition-duration:0s;}
.sub_type{transition-duration:0s;}
.sub_type.on{transition-duration:0s;}